.testText{
  opacity: 0.1;
}


.underxcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
  #closeX {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.491);
    text-align: center;
    border-radius: 25px;
    margin-left: 98%;
    margin-top: -39%;
  }

.buttonStyleRemove1 {
  position: absolute;
  left: -40px;
  border: none;
  background: none;
}

.buttonStyleRemove3 {
  position: absolute;
  right: -40px;
  border: none;
  background: none;
}

