.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(14, 14, 89);
  color: white;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
}

.logo-section:hover {
  transform: scale(1.05);
}

.title {
  margin: 0;
  padding-right: 10px;
}

.logo {
  padding-top: 4px;
  width: 50px;
  height: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  position: relative;
  margin: 0 20px;
}

.search-bar input {
  width: 400px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s;
}

.bar::before,
.bar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s;
}

.bar::before {
  top: -6px;
}

.bar::after {
  top: 6px;
}

.hamburger-menu.active .bar {
  transform: rotate(45deg);
}

.hamburger-menu.active .bar::before {
  transform: rotate(-90deg) translate(-6px, 0);
}

.hamburger-menu.active .bar::after {
  transform: rotate(-90deg) translate(6px, 0);
}

.menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  background-color: rgb(14, 14, 89);
  color: white;
  display: none;
  z-index: 9999;
}

.menu.active {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
}

input[type="text"] {
  padding: 6px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  width: 300px;
}

.search-button[type="submit"] {
  position: relative;
  top: 3px;
  right: 5px;
  padding: 0;
  width: 60px;
  height: 25px;
  background-color: #5b7d0e;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button[type="submit"]:hover {
  background-color: #729b18;
}

.search-button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 2pxrgba(91, 125, 14, 0.5);
}

.search-dropdown {
color: black;
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: #ffffff;
border-radius: 3px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 10px;
z-index: 1;
}

.search-dropdown div {
padding: 8px;
cursor: pointer;
}

.search-dropdown div:hover {
background-color: #f1f1f1;
}

.menu a:hover {
  text-shadow: 0 0 5px blue, 0 0 10px white, 0 0 20px white;
  font-weight: bold;
}