.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox1 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box1 {
  width: 50%;
}

.box2 {
  width: 50%;
}

.box3 {
width: 100%;
}

.box4 {
  width: 100%;
}
